spring-apache-cxf-client/src/main/resources/wsdl/userService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://endpoint.server.springcxf.example.com/" name="UserWebService" targetNamespace="http://endpoint.server.springcxf.example.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://endpoint.server.springcxf.example.com/" elementFormDefault="unqualified" targetNamespace="http://endpoint.server.springcxf.example.com/" version="1.0">

  <xs:element name="createUser" type="tns:createUser"/>

  <xs:element name="createUserDTO" type="tns:createUserDTO"/>

  <xs:element name="createUserResponse" type="tns:createUserResponse"/>

  <xs:complexType name="createUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:createUserDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createUserResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createUserResponse">
    <wsdl:part element="ns1:createUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUser">
    <wsdl:part element="ns1:createUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserWebService">
    <wsdl:operation name="createUser">
      <wsdl:input message="ns1:createUser" name="createUser">
    </wsdl:input>
      <wsdl:output message="ns1:createUserResponse" name="createUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>